.delAdrContainer {
  display: flex;
  box-sizing: border-box;
  margin-top: 24px;
}
.delTitle {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  color: lightgray;
}
.delName {
  font-size: 12px;
  font-weight: 500;
  color: lightgray;
}
.delAddress {
  font-size: 12px;
  margin: 10px 0;
  color: lightgray;
}
.delPhoneNumber {
  font-size: 12px;
  font-weight: 500;
  color: lightgray;
}
.delAdrDetails {
  padding: 20px;
  border-right: 1px solid #eee;
  color: lightgray;
}
.delMoreActionContainer {
  padding: 20px;
}

.delItemImgContainer {
  width: 75px;
  height: 75px;
  overflow: hidden;
  text-align: center;
}
.delItemImgContainer > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.orderTrack {
  width: 400px;
  display: flex;
}
.orderStatus {
  width: 33.33%;
  height: 3px;
  background: #777;
  position: relative;
  font-size: 12px;
}
.orderStatus.active {
  background: #26a541;
}
.orderStatus:last-child {
  width: 0;
}
.orderStatus .point {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 5px;
  background-color: #777;
  top: -3px;
}
.orderStatus .point.active {
  background-color: #26a541;
}
.orderInfo {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: -26px;
  transform: translateX(-50%);
  color: lightgray;
}

.delItemName {
  font-size: 12px;
  color: lightgray;
}

.orderInfo .status {
  color: #26a541;
  text-transform: capitalize;
  font-weight: bold;
}

.orderInfo .date {
  font-size: 10px;
  color: lightgray;
}

.neoBtn {
  border-radius: 13px;
  background: linear-gradient(145deg, #1c1234, #170f2c);
  box-shadow: 10px 10px 12px #120c23;
}

.orderCard {
  width: 1160px;
  margin: 10px auto;
}
