* {
  font-family: "Roboto", sans-serif;
}
body {
  background: #1a191c;
}
.flexRow {
  display: flex;
}
.sb {
  justify-content: space-between;
}

p {
  color: lightgray;
}

span {
  color: lightgray;
}
